body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9c9696;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #edebeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  color: #1d62ac;
  margin-bottom: 10px;
}

h2, h3 {
  color: #000000;
  margin-bottom: 5px;
}


h2:not(:first-child), /*Internet Help*/
h3:not(:first-child) {
  margin-top: 20px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

section {
  margin-top: 30px;
}
.ProfileImage{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}